<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>{% block title %}VideoTime{% endblock %}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    


    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Theme CSS -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>
    .navbar-custom {
        background: #4d0026;
    }
    #portfolio{
        background-color: #800040;
    }
    footer .footer-above {
        background-color: #99004d;
    }
    footer .footer-below {
        background-color: #4d0026;
    }
   #portfolio img {
        box-shadow: 5px 4px 30px #33001a;
        border-style: solid;
        border-color: #000;
        border-width: 1px;
    }
    
</style>
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> 
                </button>
                <a class="navbar-brand" href="#page-top">VideoTime</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/python_apps">Motivational</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/python_apps">Movies</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/python_apps">Music</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}
    <!-- Header -->
    <header>
    {% block content%}
    </header>

    <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
               <br><br>
            <div class="row">
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.youtube.com/v/RkPi9VCmliI?autoplay=1&start=209&end=265" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://avatars1.githubusercontent.com/u/8461930?s=460&v=4" target="_blank" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.cleverprogrammer.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://viralinindia.net/wp-content/uploads/2017/04/xOfsnTlNn_400x400.jpeg.pagespeed.ic.nGEIvYOHxa.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.youtube.com/channel/UCqrILQNl5Ed9Dz6CGMyvMTQ" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.et-indiaukconclave.com/wp-content/uploads/2018/08/Gaurgopal-Das.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.chesstastic.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.ivory-ng.com/wp-content/uploads/2018/02/416x416.jpg" target="_blank" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.chesstastic.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.ivory-ng.com/wp-content/uploads/2018/02/416x416.jpg" target="_blank" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.chesstastic.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.ivory-ng.com/wp-content/uploads/2018/02/416x416.jpg" target="_blank" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.chesstastic.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.ivory-ng.com/wp-content/uploads/2018/02/416x416.jpg" target="_blank" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.chesstastic.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.ivory-ng.com/wp-content/uploads/2018/02/416x416.jpg" target="_blank" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="text-center">
    
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>About</h3>
                        <p>The languages that you see on this app are HTML, CSS, Python and some JavaScript. By using this BootStrap template I saved myself a lot of time. Instead of creating the HTML and CSS from scratch I was able to edit the template to the way I wanted it to look like.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Chicago Illinois,
                            <br>United States</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/CleverProgrammerr/?ref=br_rs" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCqrILQNl5Ed9Dz6CGMyvMTQ" class="btn-social btn-outline" target="_blank"><span class="sr-only">YouTube</span><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/CleverProgrammer" class="btn-social btn-outline" target="_blank"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Clever Programmer - CP Flask Portfolio 2017 - Created on C9
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
 

</body>


</html>

   
