{% extends "index.html" %} 

{% block title %}Inspirational{% endblock %}

{% block content %}

</header>

   <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
           <br><br>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Fcos1l357QU?start=0&end=299" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/ARjmtVsj-6c" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/gF0rrpMH?start=0&end=68" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/xrXVwg0osMs?start=12&end=112" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Y5x7feHPk1U?start=14&end=115" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/dT7-D36T7DM?start=58&end=144" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/LY6Zqimdj38?start=402&end=593" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/LY6Zqimdj38?start=402&end=593" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/LY6Zqimdj38?start=402&end=593" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
