{% extends "index.html" %} 

{% block title %}Inspirational{% endblock %}

{% block content %}

</header>

   <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
           <br><br>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Fcos1l357QU?start=0&end=299" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/6lKuvalAepU?start=146&end=185" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Xs65zgQFrlY?start=420&end=465" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
