{% extends "index.html" %} 

{% block title %}Songs{% endblock %}

{% block content %}

</header>

   <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
           <br><br>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/RkPi9VCmliI?autoplay=1&loop=3&start=209&end=265" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/6lKuvalAepU?start=146&end=185" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Xs65zgQFrlY?start=420&end=465" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
