{% extends "index.html" %} 

{% block title %}Songs{% endblock %}

{% block content %}

</header>

   <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
           <br><br>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/WibcvWT7KQQ?start=0&end=80" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/3xQqQ0jF4n4?start=88&end=136" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/abiL84EAWSY?start=50&end=146" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/l_MyUGq7pgs?start=0&end=80" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/eA_vkHIfbmk?start=102&end=191" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/eA_vkHIfbmk?start=102&end=191" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
