{% extends "index.html" %} 

{% block title %}Songs{% endblock %}

{% block content %}

</header>

   <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
           <br><br>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/WibcvWT7KQQ?start=0&end=80" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Y963o_1q71M?start=209&end=113" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/ozInrXsXnM0?start=64&end=126" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/3xQqQ0jF4n4?start=88&end=136" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/3xQqQ0jF4n4?start=88&end=136" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
